@import 'bootstrap/bootstrap';

$ff-serif: 'PT Serif', serif;

.ff-serif {
  font-family: $ff-serif !important;
}

.bg-gray {
  background-color: $gray-200;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Header */

.header {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    opacity: .87;
  }
}

/* Servises */

.services-list li {
  .icon {
    height: 160px;
  }

  p {
    max-width: 210px;
  }
}

/* Pricing */

.card-badge {
  position: relative;
  overflow: hidden;

  &::before {
    content: 'Popular';
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 2em;
    padding-bottom: .7em;
    width: 170px;
    height: 76px;
    background-color: $secondary;
    transform: translate(-33%, -15%) rotate(-45deg);
    font-family: $ff-serif;
    font-size: 1.125rem;
    text-align: center;
  }
}

/* Testimonial */

.testimonial-w-bg {
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: calc(105px / 2);
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: $border-radius;
    background-color: $gray-300;

    @include media-breakpoint-up(xl) {
      top: 0;
      right: calc(105px / 2);
    }
  }
}